html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  padding: 5% 5% 5% 5%;
  margin: 5% 5% 5% 5%;
}

.container_col {
  padding: 0% 1% 0% 1%;
  margin: 0% 1% 0% 1%;
  flex: 30%;
}

.container_row {
  padding: 2% 0% 2% 0%;
  margin: 2% 0% 2% 0%;
  display: flex;
}

.node {
  background-image: url("img/node.png");
  width: 30px;
  height: 30px;
  float: right;
  background-size: 100%;
}

.draggable {
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.2);
  z-index: 100;
  border-radius: 50%;
}

.field {
  border: 3px solid rgba(150, 150, 255, 0.5);
}

.mark {
  border: 5px solid rgba(255, 150, 150, 0.5);
}

#buttonGenerateObjects {
  width: 150px;
}

#field {
  background-color: white;
  width: 900px;
  height: 400px;
}

#init_date {
  margin-left: 5%;
  border-bottom: 2px solid #ccc;
}

#title {
  text-align: center;
  margin: -7.5% 0% 2.5% 0%;
}
