html,
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  padding: 1% 1% 1% 1%;
  margin: 1% 1% 1% 1%;
}

.container_col {
  padding: 0% 1% 0% 1%;
  margin: 0% 1% 0% 1%;
  flex: 30%;
}

.container_row {
  padding: 1% 0% 1% 0%;
  margin: 1% 0% 1% 0%;
  display: flex;
}

.node {
  width: 30px;
  height: 30px;
  float: right;
  background-size: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.draggable {
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.25);
  margin: 0 !important;
}

.field {
  border: 3px solid rgba(150, 150, 255, 0.8);
}

.mark {
  border: 4px solid rgba(255, 150, 150, 0.8);
}

.save {
  border: 5px solid rgba(150, 255, 150, 0.8);
}

#buttonGenerateObjects {
  width: 150px;
  font-weight: 600;
}

#clear_localStorage {
  width: 150px;
  margin-left: auto;
  margin-right: 0;
}

#field {
  background-color: white;
}

#init_date {
  margin-left: 5%;
  border-bottom: 2px solid rgb(220, 220, 220);
}

#title {
  text-align: center;
  margin: 0% 0% 1% 0%;
}

.display_popup {
  position: absolute;
  width: 80px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
  line-height: 30px;
  border-radius: 5%;
  box-shadow: 0px -10px 10px 5px rgba(0,0,0,0.75);
  background-color: rgba(150, 255, 150, 0.5);
}

.exit_popup {
  width: 20px;
  height: 8px;
  position: absolute;
  border-top-right-radius: 25%;
  background-color: rgba(255, 150, 150, 0.5);
}

.popup_body {
  position: absolute;
  width: 120px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  border-radius: 5%;
  background-color: rgba(150, 150, 255, 0.5);
  box-shadow: 0px -10px 10px 5px rgba(0,0,0,0.75);
}

.popup_input {
  position: absolute;
  width: 50px;
  height: 17px;
  top: 10px;
  left: 10px;
}

.popup_button {
  position: absolute;
  width: 42px;
  height: 23px;
  top: 10px;
  left: 70px;
}
